<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Cave a Vin{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
            <li><a href="{{ url_for('compte') }}">Mon Compte</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Connexion</a></li>
            <li><a href="{{ url_for('register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
